@{
    ViewBag.Title = "App";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new Thread</h2>

<div data-ng-app="forumsApp">
    <div data-ng-view="">
       
    </div>
</div>
<script src="~/App/app.js" type="text/javascript"></script>
<script src="~/App/Controller/controller.js" type="text/javascript"></script>
<script src="~/App/Services/AppServices.js" type="text/javascript"></script>
